.calender-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 316px;
  border: 1px solid #e4e4e4;
  background-color: #fff;
  header {
    height: 45px;
    line-height: 45px;
    font-size: 16px;
    color: #00b0f0;
    text-align: center;
    border-bottom: 1px solid #e4e4e4;
  }
  .calender-tool {
    position: relative;
    height: 31px;
    line-height: 31px;
    font-size: 16px;
    color: #5a5a5a;
    text-align: center;
    .left-arrow {
      position: absolute;
      left: 17px;
      top: 50%;
      width: 20px;
      height: 20px;
      overflow: hidden;
      text-indent: 1000rem;
      border: none;
      background: transparent url('../../../../static/images/com_calendar.png') 0 -290px no-repeat;
      cursor: pointer;
      transform: translate(0,-50%);
    }
    .right-arrow {
      position: absolute;
      right: 17px;
      top: 50%;
      width: 20px;
      height: 20px;
      overflow: hidden;
      text-indent: 1000rem;
      border: none;
      background: transparent url('../../../../static/images/com_calendar.png') 0 -310px no-repeat;
      cursor: pointer;
      transform: translate(0,-50%);
    }
  }
  .calender-body {
    padding: 5px 17px;
    .week {
      margin-bottom: 10px;
      ul > li{
        width:40px;
        height: 27px;
        line-height: 27px;
        float: left;
        text-align: center;
        font-size: 14px;
        color: #999 ;
      }
    }
    .calender-item {
      width: 22px;
      height: 22px;
      line-height: 22px;
      text-align: center;
      font-size: 14px;
    }
  }
}


